		<script>
			window.mdc.autoInit();
			const select = new mdc.select.MDCSelect(document.querySelector('.mdc-select'));
		</script>
		<script type="text/javascript" src="/style.bundle.js"></script>
		</body>

</html>