<!DOCTYPE html>
<html>
	<head>
		<title>Hospital Management</title>
		<base href="/">
		<link type="text/css" rel="stylesheet" href="css/style.css">
		<link href="https://fonts.googleapis.com/css?family=Acme|Permanent+Marker|Rancho" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
		<script type="text/javascript" src="assets/jq.js"></script>
		<script type="text/javascript" src="assets/mustache.js"></script>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://unpkg.com/material-components-web@0.36.1/dist/material-components-web.min.css">
		<script src="https://unpkg.com/material-components-web@0.36.1/dist/material-components-web.min.js"></script>

	</head>
	<body>
		<nav id="nav_bar">
			<div class="nav_left">
				<h1>
					<a href="/"><img src="assets/hospital.png" alt="icon" style="height : 40px;"> <span>HOSPITAL MANAGEMENT</span></a>
				</h1>
			</div>
			<div class="nav_right">		
			    <ul>

			    	{{#if isAuthenticated}}

				     	<li><a href="/viewPatients">View Patients Data</a></li>
				     	<li><a href="/addPatient">Add Patients</a></li>
				     	{{!-- <li><a href="/register">Register</a></li> --}}
						<li><a href="/logout">logout</a></li>
			    	{{else}}
				        <li><a href="/login">Admin Login</a></li>
			    	{{/if}}
			    </ul>
			</div>
		</nav>

