{{> header }}
	
	<div id="main_body">
		<div class="main_content">
			<h1>{{title}}</h1>
			<p>Welcome to {{title}}</p>
			<p>This is an application which is used for maintaining patient records in an hospital</p>
		</div>
	</div>

{{> footer-end }}